<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div> 
  <div class="field">
    <%= f.label :billing_type %>
   <%= f.select :billing_type, [ 'TNM', 'FIXED']%>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :deadline_date %>
    <%= f.date_select :deadline_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div> 
  <div class="field">
    <%= f.label :github_url %>
    <%= f.text_field :github_url %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, [ 'POC', 'KICK OFF','COMPLETED'] %>
  </div>
  <div class="field">
    <%= f.label :client_id %>
    <%= f.collection_select :client, Client.all, :id, :name, placeholder: "Select Client name", :class => 'form-control', include_blank: false %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </center>
<% end %>
