

<h2 align="center"><u>Sign in</u></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<br><br>

<table align="center" cellpadding="10">
  
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true %></td>
  </tr>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password, autocomplete: "off" %></td>
  </tr>

  <% if devise_mapping.rememberable? -%>
  <tr>
    <td><%= f.check_box :remember_me%>  Remember Me<!%= f.label :remember_me %></td>
    <td><%= f.submit "Sign in" %></td>
  </tr>
  <% end -%>

</table>


<% end %>
<br><br><br><br>
<center>
<%= render "devise/shared/links" %>
</center>